<h1><%= @tournament.name %></h1>

<div class="row">
	<%= @tournament.description %>
	<%= @tournament.primary_city %>, <%= @tournament.primary_state %>
	<%= @tournament.start_date %> - <%= @tournament.start_date %>
</div>