<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<%= image_tag("logo.jpg", alt: "Logo", id: "logo", width: "48px") %>
			<%= link_to "Hoop Alert", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li class="header-button">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</li>
					<li class="header-button">
						<% if signed_in? %>
							<div class="dropdown">
								<button type="button" class="btn btn-default" id="dropdownMenuMenu" data-toggle="dropdown">
									<span class="glyphicon glyphicon-user"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMenu">
									<li role="presentation">
										<a href="#" tabindex="-1" role="menuitem"><span class="glyphicon glyphicon-lock"></span> Test</a>
									</li>
									<li role="presentation">
										<a href="#" tabindex="-1" role="menuitem"><span class="glyphicon glyphicon-lock"></span> Test</a>
									</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation">
										<%= link_to signout_path, method: 'delete' do %>
											<span class="glyphicon glyphicon-lock"></span>Sign Out
										<% end %>
									</li>
									<!--
									<li role="presentation">
										<span class="glyphicon glyphicon-lock"></span><%= link_to "Sign In", '#', tabindex: -1, role: "menuitem" %>
									</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation">
										<span class="glyphicon glyphicon-user"></span><%= link_to "Profile", '#', tabindex: -1, role: "menuitem" %>
									</li>
									<li role="presentation">
										<span class="glyphicon glyphicon-cog"></span> <%= link_to "Preferences", '#', tabindex: -1, role: "menuitem" %>
									</li>
										-->
								</ul>
							</div>
						<% else %>
							<%= link_to signin_path, class: 'btn btn-default' do %> 
									<span class="glyphicon glyphicon-user"></span>
							<% end %>
						<% end %>						
					</li>
					<!--
					<li>
						<div class="dropdown">
							<button type="button" class="btn btn-default" id="dropdownMenuUser" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenuUser">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log In</a></li>
							</ul>	
						</div>	
					</li>
					-->
				<ul>
			</nav>
		</div>
	</div>
</header>