<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<%= image_tag("logo.jpg", alt: "Logo", id: "logo", width: "48px") %>
			<%= link_to "Hoop Alert", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li class="header-button">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</li>
					<li class="header-button">
							<div class="dropdown">
								<button type="button" class="btn btn-default" id="dropdownMenuMenu" data-toggle="dropdown">
									<span class="glyphicon glyphicon-user"></span>
								</button>
								
								<div id="userDropdown" class="list-group dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuMenu">
									<% if signed_in? %>
										<%= link_to current_user, class: "list-group-item userDropdownItem", role: 'menuitem' do %>
											<span class="glyphicon glyphicon-lock"></span> Profile
										<% end %>
										<%= link_to root_url, class: "list-group-item userDropdownItem", role: 'menuitem' do %>
											<span class="glyphicon glyphicon-cog"></span> Settings
										<% end %>
										<%= link_to signout_path, method: "delete", class: "list-group-item userDropdownItem userDropdownItem", role: 'menuitem' do %>
											<span class="glyphicon glyphicon-lock"></span> Sign out
										<% end %>
									<% else %>
										<%= link_to signin_path, class: "list-group-item userDropdownItem", role: 'menuitem' do %>
											<span class="glyphicon glyphicon-lock"></span> Sign in
										<% end %>
									<% end %>
								</div>
							</div>					
					</li>
					<!--
					<li>
						<div class="dropdown">
							<button type="button" class="btn btn-default" id="dropdownMenuUser" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenuUser">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log In</a></li>
							</ul>	
						</div>	
					</li>
					-->
				<ul>
			</nav>
		</div>
	</div>
</header>